
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical horizontal;
}

input[type=tel],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgba(44, 149, 171, 255);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(148, 198, 208, 255);
}

.yhteystiedot a {
    background-color: rgba(148, 198, 208, 255);
    font-size: 25px;
    margin-bottom: 2px;
    border-radius: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 29, 47, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: ease 0.3s;
}

.yhteystiedot p {
    font-size: 20px;
    margin: 5px;
    padding: 0 0 0 0;
}

.yhteystiedot a:hover {
    background-color: rgba(44, 149, 171, 255);
    color: rgba(250, 247, 240, 255);
    transition: ease 0.3s;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.yhteystiedot {
    margin: auto;
    display: flex;
    align-content: center;
    margin-top: 2%;
    margin-bottom: 8%;
    flex-direction: row;
    width: 76%;
}

.yhteystiedot a {
    padding: 40px;
    margin: 0 30px 5px 30px;
}

.yhteystiedot-teksti {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.palauteboksi {
    margin: auto;
    width: 40%;
    margin-top: 2%;
}

.palauteboksi p {
    font-size: 25px;
    margin: 25px 5px 15px 5px;
}

.col-75 {
    float: left;
    width: 100%;
    margin-top: 10px;
}

input[type=submit] {
    float: right;
    margin-right: 0%;
}

@media (max-width: 1300px) {

    .yhteystiedot {
        margin-top: 6% !important;
        flex-direction: column !important;
        width: 90% !important;
        margin-bottom: 5% !important;
    }

    .yhteystiedot a {
        text-align: center !important;
        padding: 25px 20px 25px 20px !important;
        width: 100% !important;
        margin: 5px auto !important;
    }

    .yhteystiedot-teksti {
        text-align: center;
        margin: auto;
        margin: auto !important;
        min-width: 375px !important;
        max-width: 525px !important;
        width: 90% !important;
    }

    .yhteystiedot-teksti p {
        font-size: 25px;
    }

    .palauteboksi {
        width: 100% !important;
        padding: 20px !important;
        max-width: 550px;
    }

    .palauteboksi p {
        text-align: center;
        font-size: 25px !important;
        margin: 0 auto 15px auto !important;
    }

    .col-75 {
        margin-top: 6px !important;
    }

    input[type=submit] {
        display: block;
        margin: auto;
    }
}