
.eventspage {
    display: flex;
    flex-direction: column;
    padding: 2% 15% 4% 15%;
}

.kuukausi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 95%;
    gap: 5px; /* Adds spacing between elements */
}

.events {
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    min-width: max-content;
    max-width: min-content;
    transition: transform 0.5s ease; /* Smoothly adjusts size of surrounding blocks */
}

.events img {
    display: block;
    object-fit: cover;
    margin: auto;
    width: 350px;
    height: 350px;
    transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
    border-radius: 10px; /* Adds rounded corners to the images */
}

.events img:hover {
    transform: scale(1.15); /* Enlarges the image by 15% while keeping it centered */
}

.eventspage h3 {
    color: rgba(44, 149, 171, 255);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    text-shadow: 2px 2px 5px orange, 1px 1px 5px black;
}

.events p {
    display: block;
    font-size: 20px;
    max-width: 350px;
    margin: auto;
}

.events br {
    display: block;
    content: " ";
    margin: 5px 0;
}

.eventspage i {
    font-size: 20px;
}

.eventspage b{
    font-size: 20px;
}

@media (max-width: 1300px) {

    .eventspage {
        align-items: center !important;
        text-align: center !important;
        margin-bottom: 7% !important;
    }

    .kuukausi {
        margin: auto;
    }

    .events {
        display: block;
        margin: auto;
    }

    .eventspage p {
        font-size: 20px !important;
        line-height: 1.5 !important;
        text-align: justify !important;
    }

    .eventspage i {
        text-align: center !important;
    }

    .eventspage h1 {
        margin-bottom: 3% !important;
    }


}
