.kokotarina {
    padding: 2% 15% 4% 15%;
    align-content: center;
}

@media (max-width: 1300px) {

    .kokotarina {
        padding: 6% 10% 8% 10% !important;
        text-align: center !important;
    }

    .blokki {
        flex-direction: column !important;
        padding: 0 0 0 0 !important;
    }

    .kuva {
        width: 100% !important;
        height: 500px !important;
        max-width: 450px !important;
    }

    .blokki img {
        margin: auto !important;
        width: 100% !important;
        height: 90% !important;
        margin-top: 3%;
        margin-bottom: 5%;
    }

    .kokotarina p {
        font-size: 20px !important;
        text-align: justify !important;
    }

    .kokotarina h1 {
        margin-bottom: 3% !important;

    }
}

.blokki {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 0;
    max-width: max-content;
}

.kuva {
    display: flex;
    align-content: center;
    width: 600%;
    height: 650px; /*Kuvan korkeus*/
    position: relative;
    max-width: 800px; /*Rajoittaa zoomin*/
    min-width: max-content;
    justify-content: start;
}

.blokki img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}

.kokotarina p {
    font-size: 25px;
    line-height: 1.5;
    margin: 0 0.5%;
}

.blokki br {
    display: block;
    content: " ";
    margin: 15px 0;
}

.tervetuloa {
    width: 100%;
    margin-bottom: 5%;
}
