/*#region KÄYTTÖJÄRJESTELMÄ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(250, 247, 240, 255);
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.logo {
    display: flex;
    cursor: pointer;
}

.logo a {
    all: unset !important;
}

.logo a:hover {
    all: unset !important;
    cursor: pointer;
}

.desktop-nav {
    margin: 0 10px;
    width: 100%;
}

h1 {
    color: rgba(0, 29, 47, 255);
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 18px;
    margin-bottom: 20px !important;
}

h2 {
    color: white;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    -webkit-text-stroke: 3px rgba(44, 149, 171, 255);
    text-shadow: 1px 1px 5px black;
    text-shadow: 1px -1px 5px black;
    text-shadow: -1px 1px 5px black;
    text-shadow: -1px -1px 5px black;
}

@font-face {
    font-family: 'GG';
    src: url('Lobster-Regular.ttf');
    src: local('☺'), url('') format('ttf'), url('Lobster-Regular.ttf') format('truetype');
}

h3 {
    color: rgba(250, 247, 240, 255);
    font-size: 44px;
    font-family: GG, sans-serif;
}

h5 {
    font-size: 30px;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin: 5px;
}

.events-frontpage {
    height: 350px;
    padding: 2% 0% 0% 0%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.events-frontpage a {
    padding: 15px 40px 15px 40px;
    margin: 0 auto;
    text-align: center;
    color: rgba(0, 29, 47, 255);
    font-size: 260%;
    text-decoration: none;
}

.events-frontpage a:hover {
    background-color: rgba(148, 198, 208, 255);
}

.topnav {
    border-bottom: solid;
    border-width: 5px;
    border-color: rgba(44, 149, 171, 255);
}

/*#endregion */

@media (min-width: 1301px) {
    .phone-nav { 
        display: none; 
    }

    .topnav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        background-color: rgba(148, 198, 208, 255);
        font-size: 35px;
        border-radius: 5px;
    }

    .topnav a {
        background-color: rgba(44, 149, 171, 255);
        color: rgba(250, 247, 240, 255);
        padding: 1.5% 2% 1.5% 2%;
        margin: 80px 0px 0px 0px;
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 10px;
    }

    a:hover {
        background-color: rgba(250, 247, 240, 255);
        color: rgba(0, 29, 47, 255);
        border-radius: 10px;
        transition: all 0.5s ease;
    }

    .hero {
        position: relative;
        width: 100vw;
        max-width: 100%;
        height: 600px; /* sama kuin hero img */
        background-image: url(hero.jpg);
        background-size: cover;
        background-position: center;
        filter: brightness(110%);
    }

    .hero-teksti {
        text-align: center;
        font-size: 40px;
        color: rgba(250, 247, 240, 255);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-shadow: 2px 2px 5px black, 1px 1px 5px black;
    }
}

@media (max-width: 1300px) {
    h1 {
        margin-top: 10px !important;
        font-size: 42px !important;
        margin-bottom: 22px !important;
    }

    .desktop-nav {
        display: none;
    }

    .phone-nav {
        margin-bottom: 1%;
    }

    .topnav {
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: flex;
        background-color: rgba(148, 198, 208, 255);
        font-size: 35px;
        border-radius: 5px;
    }

    .topnav a {
        color: rgba(0, 29, 47, 255);
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 10px;
    }

    a:hover {
        background-color: rgba(250, 247, 240, 255);
        border-radius: 10px;
    }

    .dropbtn {
        padding: 25px 150px 25px 150px;
        background-color: rgba(44, 149, 171, 255);
        color: rgba(250, 247, 240, 255);
        border-radius: 10px;
        font-size: 25px;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }

    .phone-nav-content {
        position: absolute;
        z-index: 10;
        display: none;
        background-color: rgba(44, 149, 171, 255);
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
        transform: translateX(-50%)
    }

    .phone-nav-content a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 25px 120px;
    }

    .phone-nav:hover .phone-nav-content {
        display: inline-block;
        border-radius: 10px;
    }

    .phone-nav:hover .dropbtn {
        background-color: rgba(250, 247, 240, 255);
        color: rgba(44, 149, 171, 255);
        transition: all 0.3s ease;
    }

    /*Etusivun sisältö*/
    .hero {
        position: relative;
        width: 100vw;
        max-width: 100%;
        height: 550px; /* sama kuin hero img */
        background-image: url(hero.jpg);
        background-size: cover;
        background-position: center;
    }
    .hero-teksti {
        text-align: center;
        top: 50%;

        font-size: 25px;
        color: rgba(250, 247, 240, 255);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-shadow: 2px 2px 5px black, 1px 1px 5px black;
    }

    .hero h2 {
        text-align: center;
        font-size: 40px;
        color: rgba(250, 247, 240, 255);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*Heron jälkeinen osuus*/
    .events-frontpage {
        margin: 0 5% !important;
        flex-direction: column;
    }

    .events-frontpage p {
        font-size: 20px;
    }

    /*Jalkatila*/
    footer {
        flex-direction: column !important;
        align-items: center !important;
        min-height: max-content;
    }

    footer p {
        padding: 1.5%;
        font-size: 12px;
        margin: 5px;
    }

    footer h4 {
        text-align: center;
    }

    footer i {
        text-align: center;
    }

    footer a {
        font-size: 12px;
    }

    .footer-content-left {
        margin: 20px 0 30px 0 !important;
        text-align: center;
    }

    .footer-content-right {
        margin: 0 0 5% 0 !important;
        text-align: center !important;
    }

    .some-icons {
        justify-content: center;
        align-items: center;
    }
}

/*#region FOOTER PAGE LAYOUT */
footer {
    background-color: rgba(44, 149, 171, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4%;
    padding-top: 5%;
    block-size: auto;
    height: 350px;
}

.footer-content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    color: rgba(250, 247, 240, 255);
    margin-left: 25%;
}

.footer-content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(250, 247, 240, 255);
    text-align: center;
}

.footer-content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    margin-right: 25%;
}

footer a {
    color: rgba(250, 247, 240, 255);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 8px;
    font-size: 22px;
}

footer a:hover {
    color: rgba(44, 149, 171, 255);
    border-radius: 10px;
    background-color: rgba(250, 247, 240, 255);
}

footer h4 {
    font-size: 28px;
    color: rgba(250, 247, 240, 255);
    margin-bottom: 12px;
}

footer p {
    margin: 5px;
    font-size: 18px;
}

.insta-img {
    width: 50px;
    height: 50px;
}

.insta-img:hover {
    color: rgba(44, 149, 171, 255);
    filter: invert(1);
    transform: scale(1.15);
    transition: transform 0.8s ease;
}

.some-icons {
    display: flex;
    flex-direction: row;
}

/*#endregion */

