
.valikoima {
    display: flex;
    flex-direction: column;
    margin: 2% 12%
}

h1 {
    margin-bottom: 0.5%;
}

p {
    margin-bottom: 1.5%;
}

@media (max-width: 1300px) {
    .valikoima {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 2% 2% !important;
    }

    .gallery {
         height: 100px !important;
    }
    .gallery:hover {
        height: 150px !important;
    }

    p {
        font-size: 20px !important;
        margin-bottom: 2% !important;
    }

    h1 {
        margin-bottom: 3% !important;        
    }
}

    .gallery {
        position: relative;
        display: flex;
        align-content: center;
        width: 100%;
        margin: 1% auto 0.5% auto;
        height: 150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: black 0.6;
        transition: height 0.5s ease;
    }

    .gallery img {
        width: 100%;
        height: auto;
        z-index: -1;
        border-radius: 10px;
        object-fit: cover;
        filter: brightness(70%)
    }

    .teksi-more {
        position: absolute;
        top: 30%;
        display: none;
    }

    .tuoteTeksti {
        position: absolute;
        top: 20%;
        left: 2.5%;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        z-index: 1;
    }

    .gallery:hover {
        height: 200px;
        transition: height 0.5s ease;
    }

    .gallery:hover .teksi-more {
        width: 100%;
        display: block;
    }